<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mini Blog{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="main-header">
    <h1>Mini Blog</h1>
    <button id="toggle-dark">🌙 Modo oscuro</button>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 Blog de Nica | Hecho con Flask</p>
  </footer>

  <script>
    const body = document.body;
    const toggleBtn = document.getElementById("toggle-dark");
    toggleBtn.addEventListener("click", () => {
      document.body.classList.toggle("dark-mode");
    });
  </script>
</body>
</html>